{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td>
                <td>
                    <img src={{image_path}}>
                </td>
                <td>
                    <h1>User: {{ user.username }}</h1>
                    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                </td>

            </td>
        </tr>
        <tr>
            <a href="{{ url_for('main.upload_image', username=user.username) }}">Upload Image</a>
        </tr>
        {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% endif %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% if user == current_user %}
        <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
        {% else %}
        <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
    {% if user != current_user %}
                <p>
                    <a href="{{ url_for('main.send_message',
                                        recipient=user.username) }}">
                        {{ _('Send private message') }}
                    </a>
                </p>
                {% endif %}
{% endblock %}
